html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 600;
    background-color: #5B4B6B;
    color: white;
}

h1 {
    font-family: sweet-titling-no-22, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    padding-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        flex: 3;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 80px;
        padding-bottom: 8%;
    }
    h2 {
        font-size: 30px;
        margin-top: 140px;
        margin-left: 100px;
    }
    h3 {
        margin-left: 100px;
        border: 2px solid white;
        margin-right: 1030px;
        padding-left: 5px;
    }
    p {
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 18px;
    }
    footer {
        padding-top: 15%;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 24px;
    }
    h1 {
        font-size: 45px;
        padding-top: 100px;
        padding-bottom: 80px;
    }
    h2 {
        font-size: 1.1em;
    }
    footer {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 12px;
    }
}

footer {
    font-size: 18px;
    margin-top: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer a:hover {
    color: #5B4B6B
}

a:link {
    text-decoration: none;
    color: white;
}