body {
    background-color: rgb(65, 64, 64);
    color: white;
    font-family: 'Roboto Mono', monospace;
    max-width: 1366px;
}

header {
    height: 250px;
    width: 1366px;
}

h1 {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 115px;
    color: white;
    margin: 30px;
    margin-left: 1200px;
    background-color: black;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 15px;
    width: 120px;
    height: 120px;
}

.dotstyle ul {
    position: relative;
    display: inline-block;
    margin-left: 380px;
    list-style: none;
    cursor: default;
    margin-top: 45px;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 1%;
    background-color: #fff;
    background-color: black;
    text-indent: -999em;
    cursor: pointer;
    /* make the text accessible to screen readers */
    position: absolute;
}


/* Fill up */

.dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
    transition: background 0.3s;
}

.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
    background-color: black;
    opacity: 0.1;
}

.dotstyle-fillup li.current a::after {
    height: 100%;
}

#jl a {
    color: white;
}

h2 {
    font-size: 40px;
    margin-top: -30px;
    margin-left: 420px;
}

#indication {
    margin-left: 570px;
    opacity: 50%;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

#line1 {
    margin-left: 2.5%;
    margin-top: -8%;
    border-top: 6px solid white;
    animation: draw-line 3s;
    animation-fill-mode: forwards;
}

@keyframes draw-line {
    0% {
        width: 0;
    }
    50% {
        border-top: 6px solid white;
    }
    100% {
        width: 53vh;
        border-top: 6px solid white;
    }
}

div {
    margin-top: -3%;
    margin-left: 5%;
}

#ca {
    max-width: 100%;
    height: auto;
    margin-top: -20px;
}

#mycontainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 52rem;
    margin: 0 auto;
    margin-top: -386px;
    margin-left: 300px;
}

.open {
    filter: grayscale(100%);
}

#mycontainer img {
    max-width: 100%;
    padding-right: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#mycontainer img:hover {
    opacity: 0.86;
}

.container::-webkit-scrollbar {
    width: 13px;
}

.container::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
    display: none;
}

.container::-webkit-scrollbar-thumb {
    margin-top: 5%;
    background: white 0.1;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: white;
    border-radius: 5px;
    opacity: 0.2;
}

.container {
    display: none;
    /* Hidden by default */
}


/* experiement 1 */

.window {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.overcontent #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 2px;
    right: 13px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(187, 187, 187);
    text-decoration: none;
    cursor: pointer;
}


/* experiment 2 */

#overlap3 figure,
#overlap4 figure,
#overlap5 figure,
#overlap7 figure,
#overlap8 figure,
#overlap10 figure {
    box-sizing: border-box;
    background-color: black;
    padding: 20px;
    width: 500px;
    height: 670px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlap,
#overlap2,
#overlap3,
#overlap4,
#overlap5,
#overlap6,
#overlap7 {
    position: absolute;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: -85px;
    left: 0;
    width: 100vw;
    height: 123vh;
}

#overlap figure,
#overlap2 figure,
#overlap6 figure,
#overlap9 figure {
    box-sizing: border-box;
    background-color: black;
    padding: 20px;
    width: 880px;
    height: 625px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.over-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    padding-top: 12px;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

footer {
    margin-left: 5%;
    margin-top: 15%;
    padding: 15px;
    text-align: center;
    background-color: white;
}

a:link {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

data {
    margin-top: 20%;
}