body {
    background-color: black;
	font-family: 'Lora', serif;
	font-weight: 300;
}

img {
    margin-top: -18%;
    margin-left: 6%;
}

#img{
    position: absolute;
    width: 200px;
    height: 200px;
    display: none;
    margin-left: 265px;
    margin-top: -233px;

}

.center{
    position:absolute;
    margin: -270px 500px;
}

main {
    color: white;

}

form {
    display: grid;
    background: black;
}

label {
    padding: 10px;


}

.photo {
    max-width: 450px;
    position: absolute;
    top: 250px; 
    right: 200px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 8px;
}

header {
	background-color: black;
	height:250px;
    width: 1366px;
    margin: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 100px;
    margin: 30px;
    margin-left: 1150px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 20px;
    width: 120px;
    height: 120px;
}

footer {
    margin-top: 50%;
    padding: 15px;
    text-align: center;
    background-color:white;
}

a:link {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

data {
    margin-top: 20%;
}

